{% extends "blog/base.html" %}

{% block content %}
<h1>Welcome to Panasonic Internal Web App</h1>
<div class="row">
    {% for post in posts %}
    <div class="col-4 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ post.title }}</h5>
          <img src="{{ post.featured_pic.url }}" class="card-img-top" alt="{{ post.title}}">
          <p class="card-text">{{ post.short_description | truncatechars:100  }}.</p>
          <a href="/blog/{{ post.id }}" class="btn btn-primary">อ่านบทความ</a>
        </div>
      </div>
    </div>
    {% endfor %}
</div>
{% endblock %}